<div class="swag-custom-notification-banner"
     data-hide-on-click-container
     style="
         background-color: {{ config('SwagCustomNotification.config.bannerBackgroundColor') }};
         color: {{ config('SwagCustomNotification.config.bannerFontColor') }}
     ">

    {% if config('SwagCustomNotification.config.bannerMarquee') %}
        <marquee>
            {{ 'SwagCustomNotification.banner.text'|trans }}
        </marquee>
    {% else %}
        <span class="swag-custom-notification-banner-text">
            {{ 'SwagCustomNotification.banner.text'|trans }}
        </span>
    {% endif %}

    {% if config('SwagCustomNotification.config.bannerClosable') %}
        <span class="swag-custom-notification-banner-close-icon icon icon-x icon-xs"
              data-hide-on-click-button
              style="color: {{ config('SwagCustomNotification.config.bannerFontColor') }};">
            {{ source('@Storefront/../app/storefront/dist/assets/icon/default/x.svg', ignore_missing = true) }}
        </span>
    {% endif %}
</div>

