<div class="sw-custom-notification-banner"
     data-hide-on-click-container
     style="
         background-color: {{ shopware.config.swCustomNotification.config.bannerBackgroundColor }};
         color: {{ shopware.config.swCustomNotification.config.bannerFontColor }}
     ">

    {% if shopware.config.swCustomNotification.config.bannerMarquee %}
        <marquee>
            {{ shopware.config.swCustomNotification.config.bannerText }}
        </marquee>
    {% else %}
        <span class="sw-custom-notification-banner-text">
            {{ shopware.config.swCustomNotification.config.bannerText }}
        </span>
    {% endif %}

    {% if shopware.config.swCustomNotification.config.bannerClosable %}
        <span class="sw-custom-notification-banner-close-icon icon icon-x icon-xs"
              data-hide-on-click-button
              style="color: {{ shopware.config.swCustomNotification.config.bannerFontColor }};">
            {{ source('@Storefront/../app/storefront/dist/assets/icon/default/x.svg', ignore_missing = true) }}
        </span>
    {% endif %}
</div>

